<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Test - EasyTest</title>
    <link rel="stylesheet" href="/public/view_test.css">
</head>
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f7fc;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #3498db;
        padding: 20px;
        color: #fff;
        text-align: center;
        font-size: 300%;
    }

    section {
        margin: 20px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: #3498db;
        font-size: 250%;
        text-align: center;
    }

    h3 {
        color: #3498db;
        font-size: 150%;
    }

    ul {
        list-style: none;
        padding: 0;
        font-size: 120%;
    }

    li {
        margin-bottom: 10px;
    }

    a {
        color: #3498db;
        text-decoration: none;
        margin-right: 20px;
    }

    a:hover {
        text-decoration: underline;
    }

    .back-btn,
    .edit-btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 120%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .back-btn {
        background-color: #3498db;
    }

    .edit-btn {
        background-color: #4caf50;
    }

    .back-btn:hover {
        background-color: #2980b9;
    }

    .edit-btn:hover {
        background-color: #45a049;
    }

    .test-container {
        text-align: left;
    }

    .question {
        margin-bottom: 50px;

    }

    .question-number {
        font-weight: bold;
        font-size: 150%;
    }

    .answer-options {
        list-style: none;
        padding: 0;
        counter-reset: answer-counter;
    }

    .answer-option {
        margin-bottom: 8px;
    }

    .answer-letter {
        font-weight: bold;
        margin-right: 8px;
    }

    .student-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .question-text {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .delete-btn {
        display: inline-block;
        padding: 10px 233px;
        font-size: 120%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        background-color: #e74c3c;
        transition: background-color 0.3s;
        margin-right: 50px;
        margin-top: 20px;
    }

    .delete-btn:hover {
        background-color: #c0392b;
    }

    img {
        max-width: 25%;
        height: auto;
        margin-top: 10px;
    }
</style>

<body>
    <header>
        <h1>Test Details</h1>
    </header>

    <section>
        <div class="test-container">
            <div class="student-info">
                <div style="font-size: 20px;">Student Name: ______________________</div>
                <div style="font-size: 20px;">Date: ______________________</div>
            </div>
            <h2>TEST - <%= test.testName %></h2>
            <h3><%= test.questions.length %> Questions</h3>

            <% for (let i = 0; i < test.questions.length; i++) { %>
            <div class="question">
                <p class="question-number"><%= i + 1 %>.</p>
                <p class="question-image"><% for (let k = 0; k < test.questions[i].images.length; k++) { %>
                    <img src="<%= test.questions[i].images[k] %>" alt="Question Image" class="question-image">
                    <% } %></p>
                <p class="question-text"><strong><%= test.questions[i].lines %></strong> <%= test.questions[i].content %></p>
                <ul class="answer-options">
                    <% for (let j = 0; j < test.questions[i].answers.length; j++) { %>
                    <li class="answer-option">
                        <span class="answer-letter"><%= String.fromCharCode(65 + j) %></span>
                        <%= test.questions[i].answers[j] %>
                    </li>
                    <% } %>
                </ul>
            </div>
            <% } %>
        </div>

        <a href="/dashboard" class="back-btn">Back to Dashboard</a>
        <a href="/edit_test/?testName=<%= encodeURIComponent(test.testName) %>&questions=<%= encodeURIComponent(btoa(JSON.stringify(test.questions))) %>&testid=<%= test._id %> %>" class="edit-btn">Generate more Versions / Edit Test</a>
        <form id="deleteForm" action="/delete_test/<%= test._id %>" method="post">
            <button type="button" class="delete-btn" onclick="confirmDelete()">Delete Test</button>
        </form>
    </section>
    <script>
        function confirmDelete() {
            if (confirm("Are you sure you want to delete the test? This action cannot be undone.")) {
                document.getElementById("deleteForm").submit();
            }
        }
    </script>
</body>
</html>